
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
}

@model proiect.Models.User.UserLogin
<!DOCTYPE html>
<body>
<style>
    body {
        background-image: url('/assets/img/ll.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    label {
        color: red; /* Changing label text color to red */
    }
    h3 {
        color: red; /* Changing h3 text color to red */
    }

    .button {
        background-color: yellow; /* Changing button background color to yellow */
        color: black; /* Changing button text color to black */
    }
</style>

<form method="post">
    @Html.AntiForgeryToken()
    <h3>Resetează parola</h3>

    <label for="Credential">Introdu email-ul:</label>
    @Html.TextBoxFor(model => model.Credential, new { @class = "form-control", placeholder = "Introdu email", maxlength = "50" })
    @Html.ValidationMessageFor(model => model.Credential, "", new { @class = "text-danger" })

    <button type="submit" class="button">Trimite cod de verificare</button>
</form>
</body>

