
@{
    ViewBag.Title = "AdaugareTestimoniale";
    Layout = "~/Views/Shared/_LayoutTestimoniale.cshtml";
}
@model proiect.Models.User.UserLogin
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="facts-help">
        <div class="container">
            <h2 class="heading-title" style="text-align: center; font-family: 'Times New Roman', Times, serif; font-weight: bold;">Testimoniale</h2>
            <div class="row main-block">
                <table style="width:100%">
                    <tr>
                        <td style="padding: 10px;">
                            <img class="img-rounded" src="https://www.caritate.md/uploads/w318/54315-img-2345.jpeg" alt="" style="border:1px solid gray;">
                        </td>
                        <td style="padding: 10px;">
                            <img class="img-rounded" src="https://www.caritate.md/uploads/w318/54197-img-1816.png" alt="" style="border:1px solid gray;">
                        </td>
                        <td style="padding: 10px;">
                            <img class="img-rounded" src="https://www.caritate.md/uploads/w318/49945-photo-2022-09-12-11-44-14.jpg" alt="" style="border:1px solid gray;">
                        </td>

                    </tr>
                </table>
            </div>

            <table style="width:100%">
                <tr>
                    <td style="padding: 10px;">
                        <img class="img-rounded" src="https://www.caritate.md/uploads/w318/52857-img-3191.png" alt="" style="border:1px solid gray;">
                    </td>
                    <td style="padding: 10px;">
                        <img class="img-rounded" src="https://www.caritate.md/uploads/w318/49788-bd9612b4-6ff7-4da3-ac5f-04e7efccc297.png" alt="" style="margin:20px; border:1px solid gray;">
                    </td>

                    <td style="padding: 10px;">
                        <img class="img-rounded" src="https://www.caritate.md/uploads/w318/49069-photo-2022-05-05-13-11-45.jpg" alt="" style="margin:20px; border:1px solid gray;">
                    </td>
                </tr>
            </table>

            <table style="width:100%">
                <tr>
                    <td style="padding: 10px;">
                        <img class="img-rounded" src="https://www.caritate.md/uploads/w318/49067-photo-2022-05-05-13-06-21.jpg" alt="" style="margin:20px; border:1px solid gray;">
                    </td>
                    <td style="padding: 10px;">
                        <img class="img-rounded" src="https://www.caritate.md/uploads/w318/47943-a1234e54-7f9f-4d3d-94b9-fbcff45ee56a.jpeg" alt="" style="margin:20px; border:1px solid gray;">
                    </td>
                    <td style="padding: 10px;">
                        <img class="img-rounded" src="https://www.caritate.md/uploads/w318/46826-f2aaddbf-2040-4d9e-8e89-2a304601cd07.jpeg" alt="" style="margin:20px; border:1px solid gray;">
                    </td>

                </tr>
            </table>

            <table style="width:100%">
                <tr>
                    <td style="padding: 10px;">
                        <img class="img-rounded" src="https://www.caritate.md/uploads/w318/43941-67d0f7d1-6b95-440a-a800-88db64095378.jpeg" alt="" style="margin:20px; border:1px solid gray;">
                    </td>
                    <td style="padding: 10px;">
                        <img class="img-rounded" src="https://www.caritate.md/uploads/w318/43940-b42958e8-2f6c-42e5-b9da-47fe0a4701e7.jpeg" alt="" style="margin:20px; border:1px solid gray;">
                    </td>
                    <td style="padding: 10px;">
                        <img class="img-rounded" src="https://www.caritate.md/uploads/w318/43939-24c961b1-2213-484a-b10a-cbc150f61e49.jpeg" alt="" style="margin:20px; border:1px solid gray;">
                    </td>

                </tr>
            </table>

            <table style="width:100%">
                <tr>
                    <td style="padding: 10px;">
                        <img class="img-rounded" src="https://www.caritate.md/uploads/w318/43938-88fa5b55-2f3f-4202-9796-6f687ca045c7.png" alt="" style="margin:20px; border:1px solid gray;">
                    </td>
                    <td style="padding: 10px;">
                        <img class="img-rounded" src="https://www.caritate.md/uploads/w318/43937-8a0b896b-a255-44cd-8907-a846752c3e89.jpeg" alt="" style="margin:20px; border:1px solid gray;">
                    </td>
                    <td style="padding: 10px;">
                        <img class="img-rounded" src="https://www.caritate.md/uploads/w318/43936-d9feda8b-d998-468b-9d87-4393258c56fa.jpeg" alt="" style="margin:20px; border:1px solid gray;">
                    </td>

                </tr>
            </table>

            <table style="width:100%">
                <tr>
                    <td style="padding: 10px;">
                        <img class="img-rounded" src="https://www.caritate.md/uploads/w318/43823-6dff9b15-cf2c-4adf-8226-155cdf65cbbb.jpeg" alt="" style="margin:20px; border:1px solid gray;">
                    </td>
                    <td style="padding: 10px;">
                        <img class="img-rounded" src="https://www.caritate.md/uploads/w318/41655-photo-2021-01-25-20-04-46.jpg" alt="" style="margin:20px; border:1px solid gray;">
                    </td>
                    <td style="padding: 10px;">
                        <img class="img-rounded" src="https://www.caritate.md/uploads/w318/40395-photo-2020-12-07-13-43-01.jpg" alt="" style="margin:20px; border:1px solid gray;">
                    </td>

                </tr>
            </table>

            <table style="width:100%">
                <tr>
                    <td style="padding: 10px;">
                        <img class="img-rounded" src="https://www.caritate.md/uploads/w318/40394-photo-2020-12-07-13-31-58.jpg" alt="" style="margin:20px; border:1px solid gray;">
                    </td>
                    <td style="padding: 10px;">
                        <img class="img-rounded" src="https://www.caritate.md/uploads/w318/39396-photo-2020-10-12-12-52-26.jpg" alt="" style="margin:20px; border:1px solid gray;">
                    </td>
                    <td style="padding: 10px;">
                        <img class="img-rounded" src="https://www.caritate.md/uploads/w318/46826-f2aaddbf-2040-4d9e-8e89-2a304601cd07.jpeg" alt="" style="margin:20px; border:1px solid gray;">
                    </td>

                </tr>
            </table>


        </div>
    </div>


</body>
</html>

