
@{
    ViewBag.Title = "AddCase";
    Layout = "~/Views/Shared/_LayoutCases.cshtml";
}
@using proiect.VerifyRole
@model proiect.Models.Case.CaseData

<style>
    /* Stilurile pentru tabele */
    table {
        width: 80%; /* Lățimea tabelului */
        margin: auto; /* Centrare */
        border-collapse: collapse; /* Unirea granițelor celulelor */
        font-family: 'Times New Roman', Times, serif; /* Font */
    }

    th, td {
        padding: 10px; /* Spațierea între conținut și granițe */
        border: 1px solid black; /* Granițele celulelor */
        text-align: left; /* Alinierea textului la stânga */
    }

    input[type="text"],
    input[type="date"],
    select,
    textarea {
        width: 100%; /* Lățime completă pentru câmpurile de intrare */
        padding: 8px; /* Spațiere */
        margin: 5px 0; /* Spațiere între câmpuri */
        box-sizing: border-box; /* Dimensiuni calculate incluzând padding-ul */
        border-radius: 5px; /* Colțuri rotunjite */
        border: 1px solid #ccc; /* Graniță */
        font-family: 'Times New Roman', Times, serif; /* Font */
    }

    input[type="button"] {
        width: 150px; /* Lățime buton */
        padding: 10px; /* Spațiere */
        margin-top: 20px; /* Spațiere sus */
        border: none; /* Fără granițe */
        border-radius: 5px; /* Colțuri rotunjite */
        background-color: red; /* Culoare fundal */
        color: white; /* Culoare text */
        font-family: 'Times New Roman', Times, serif; /* Font */
        cursor: pointer; /* Cursor de tip pointer */
    }

        input[type="button"]:hover {
            background-color: #45a049; /* Culoare fundal la hover */
        }
</style>

@using (Html.BeginForm("AddCase", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!-- Formularul -->
    <h2 style="text-align: center; font-weight: bold;">Adaugă caz nou</h2>

    <form>
        <!-- Tabelul pentru Nume și Prenume, Vârstă -->
        <table>
            <tr>
                <td>Nume, Prenume</td>
                <td>Vârsta</td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="txtNumePrenume" name="FullName" />
                </td>
                <td>
                    <input type="text" id="txtVarsta" name="Age" />
                </td>
            </tr>
        </table>

        <!-- Tabelul pentru Localitatea și Adresa -->
        <table style="margin: auto;">
            <tr>
                <td style="text-align: left; font-family: 'Times New Roman', Times, serif;">Localitatea</td>
                <td style="text-align: left; font-family: 'Times New Roman', Times, serif;">Adresa</td>
            </tr>
            <tr>
                <td style="text-align: left;">
                    <input type="text" id="txtLocalitatea" name="City" />
                </td>
                <td style="text-align: left;">
                    <input type="text" id="txtAdresa" name="Address" />
                </td>
            </tr>
        </table>

        <!-- Tabelul pentru Email și Număr de telefon -->
        <table style="margin: auto;">
            <tr>
                <td style="text-align: left; font-family: 'Times New Roman', Times, serif;">Email</td>
                <td style="text-align: left; font-family: 'Times New Roman', Times, serif;">Număr de telefon</td>
            </tr>
            <tr>
                <td style="text-align: left;">
                    <input type="text" id="txtEmail" name="Email" />
                </td>
                <td style="text-align: left;">
                    <input type="text" id="txtNumărdetelefon" name="PhoneNumber" />
                </td>
            </tr>
        </table>


        <!-- Tabelul pentru Titlu și Suma -->
        <table style="margin: auto;">
            <tr>
                <td style="text-align: left; font-family: 'Times New Roman', Times, serif;">Titlu</td>
                <td style="text-align: left; font-family: 'Times New Roman', Times, serif; ">Suma</td>
                <td style="text-align: left; font-family: 'Times New Roman', Times, serif; ">Valuta</td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <input type="text" id="txttitlu" name="Title" />
                </td>
                <td style="text-align: left;">
                    <input type="text" id="txtsuma" name="Sum" />
                </td>
                <td style="text-align: left; ">
                    <select id="txtalegecategoria" name="Currency" required>
                        <option value="USD">USD</option>
                        <option value="EURO">Euro</option>
                        <option value="MDL">MDL</option>
                        <!-- Adaugă alte opțiuni după necesitate -->
                    </select>
                </td>
            </tr>
        </table>

        <!-- Tabelul pentru Data începerii și Data încheierii -->
        <table style="margin: auto;">
            <tr>
                <td style="text-align: left; font-family: 'Times New Roman', Times, serif;">Data începerii</td>
                <td style="text-align: left; font-family: 'Times New Roman', Times, serif;">Data încheierii</td>
            </tr>
            <tr>
                <td style="text-align: left;">
                    <input type="date" id="txtDataInceperii" name="StartDate" />
                </td>
                <td style="text-align: left;">
                    <input type="date" id="txtDataIncheierii" name="EndDate" />
                </td>
            </tr>
        </table>

        <!-- Tabelul pentru Descrierea cazului -->
        <table style="margin: auto;">
            <tr>
                <td style="text-align: left; font-family: 'Times New Roman', Times, serif;">Descrierea cazului</td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <textarea id="txtDescriereCaz" rows="4" cols="50" name="Description"></textarea>
                </td>
            </tr>
        </table>

        <table style="margin: auto;">
            <tr>
                <td style="text-align: left; font-family: 'Times New Roman', Times, serif;">Adauga imagine</td>
            </tr>
            <tr>
                <td>
                    <label class="uploadBox">
                        <input type="file" name="ImageFile" id="ImageFile">
                    </label>
                </td>

            </tr>
        </table>

        @if (IsAdmin.IsUserAdmin())
        {
            <table style="margin: auto;">
                <tr>
                    <td style="text-align: left; font-family: 'Times New Roman', Times, serif;">Status</td>
                </tr>
                <tr>
                    <td style="text-align: left; ">
                        <select id="txtalegestatus" name="Status" required>
                            <option value="WantingApproval">WantingApproval</option>
                            <option value="Approved">Approved</option>
                            <option value="Finished">Finished</option>
                            <!-- Adaugă alte opțiuni după necesitate -->
                        </select>
                    </td>
                </tr>
            </table>
        }

        <button class="btn btn-primary" style="text-align: center;" type="submit">
            Creează cazul
        </button>

        @* <!-- Butonul pentru Crează cazul --> *@
        @* <div style="text-align: center;"> *@
        @*     <input type="button" value="Creează cazul"/> *@
        @* </div> *@
    </form>
}