
@{
    ViewBag.Title = "CazuriFinisateAdmin";
    Layout = "~/Views/Shared/_LayoutCazuriFinisate.cshtml";
}
}

@model proiect.Models.User.UserLogin
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PageCazuriFinisate</title>
    <link href="css/styles.css" rel="stylesheet">
    <style>
        .heading-title {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="list-of-news-block bg-gray">
        <div class="container">
            <h2 class="heading-title">Cazuri Finisate</h2>
        </div>
    </div>

    <div class="container">
        <div class="row news-list">
            <div class="col-lg-8 col-md-10 news-contain">
                <div class="news-item">
                    <img src="https://www.caritate.md/uploads/w382/54494-img-2730.jpeg" alt="Xenia Banda datorita oamenilor a primit sansa sa isi salveze vederea." class="img-fluid">
                    <div class="news-date">
                        27 Mar, 2024
                    </div>
                    <div class="news-info">
                        <h4>Xenia Banda datorita oamenilor a primit sansa sa isi salveze vederea.</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-12 news-contain">

            <img src="https://www.caritate.md/uploads/w382/52957-c8e298cb-abb7-4c56-9679-51918aa64077.jpeg" alt="O poveste cu final fericit. O femeie care cersea cu fetita bolnava a primit o casa!" class="img-fluid">
            <div class="news-item">
                <div class="news-date">
                    27 Sep, 2023
                </div>
                <div class="news-info">
                    <h4>O poveste cu final fericit. O femeie care cersea cu fetita bolnava a primit o casa!</h4>
                </div>
            </div>

        </div>
        <div class="col-lg-8 col-md-12 news-contain">

            <img src="https://www.caritate.md/uploads/w382/52893-photo-output.jpeg" alt="Margarita Dabija vă mulțumește pentru VIAȚA!" class="img-fluid">
            <div class="news-item">
                <div class="news-date">
                    16 Sep, 2023
                </div>
                <div class="news-info">
                    <h4>Margarita Dabija vă mulțumește pentru VIAȚA!</h4>
                </div>
            </div>

        </div>
        <div class="col-lg-8 col-md-12 news-contain">

            <img src="https://www.caritate.md/uploads/w382/52876-photo-output.jpeg" alt="Robert Costin va mulțumește pentru VIAȚĂ!" class="img-fluid">
            <div class="news-item">
                <div class="news-date">
                    14 Sep, 2023
                </div>
                <div class="news-info">
                    <h4>Robert Costin va mulțumește pentru VIAȚĂ!</h4>
                </div>
            </div>

        </div>
        <div class="col-lg-8 col-md-12 news-contain">

            <img src="https://www.caritate.md/uploads/w382/52235-15e878f3-b9ff-4da8-a8bc-a63bc07e316e.jpeg" alt="Ionut Miron va multumeste pentru VIATA. Eroul invingator este acasa si se bucura de copilarie!" class="img-fluid">
            <div class="news-item">
                <div class="news-date">
                    04 Jul, 2023
                </div>
                <div class="news-info">
                    <h4>Ionut Miron va multumeste pentru VIATA. Eroul invingator este acasa si se bucura de copilarie!</h4>
                </div>
            </div>

        </div>
        <div class="col-lg-8 col-md-12 news-contain">

            <img src="https://www.caritate.md/uploads/w382/51845-a35a86e6-3c04-43d1-9ee1-5ae3375c6b7e.jpeg" alt="Împreună, am reușit să dăruim, de Paște, lumină, credință și speranță." class="img-fluid">
            <div class="news-item">
                <div class="news-date">
                    01 May, 2023
                </div>
                <div class="news-info">
                    <h4>Împreună, am reușit să dăruim, de Paște, lumină, credință și speranță.</h4>
                </div>
            </div>

        </div>
        <div class="col-lg-8 col-md-12 news-contain">

            <img src="https://www.caritate.md/uploads/w382/51416-cc7a92aa-c4fc-4109-a095-298d37155b2e.jpeg" alt="Kamelia Popov vă mulțumește pentru VIAȚĂ!" class="img-fluid">
            <div class="news-item">
                <div class="news-date">
                    20 Mar, 2023
                </div>
                <div class="news-info">
                    <h4>Kamelia Popov vă mulțumește pentru VIAȚĂ!</h4>
                </div>
            </div>

        </div>
        <div class="col-lg-8 col-md-12 news-contain">

            <img src="https://www.caritate.md/uploads/w382/51411-photo-2023-03-19-13-52-17.jpg" alt="De 4 ani de zile, ADELINA MITRONICI, se bucura din plin de VIATA!" class="img-fluid">
            <div class="news-item">
                <div class="news-date">
                    20 Mar, 2023
                </div>
                <div class="news-info">
                    <h4>De 4 ani de zile, ADELINA MITRONICI, se bucura din plin de VIATA!</h4>
                </div>
            </div>

        </div>
    </div>

</body>

</html>


