@{
    ViewBag.Title = "Testimonials";
    Layout = "~/Views/Shared/_LayoutCases.cshtml";
}
@model System.Collections.Generic.List<proiect.Models.Testimonial.TestimonialViewData>
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style>
        .img-rounded {
            width: auto;
            height: 300px;
            max-width: 100%;
            object-fit: cover;
            display: block;
            margin: 0 auto;
        }

        .btn-delete {
            background-color: red; 
            color: white; 
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            text-decoration: none;
            display: inline-block;
        }

            .btn-delete:hover {
                background-color: red; 
            }
    </style>
</head>
<body>
    <div class="facts-help">
        <div class="container">
            <h2 class="heading-title" style="text-align: center; font-family: 'Times New Roman', Times, serif; font-weight: bold;">Testimoniale</h2>
            <div class="row main-block">
                <table style="width:100%">
                    @foreach (var caseData in Model)
                    {
                        <tr>
                            <td style="padding: 10px;">
                                @if (caseData.ImagePath != null)
                                {
                                    <img class="img-rounded" src="@Url.Content(caseData.ImagePath)" alt="...">
                                }
                                else
                                {
                                    <img class="img-rounded" src="https://www.caritate.md/uploads/w318/54315-img-2345.jpeg" alt="">
                                }

                                @if (HttpContext.Current.Session["LoginStatus"] == "login")
                                {
                                    var nivelAcces = (Solution.Domain.Enums.UserRole)HttpContext.Current.Session["Role"];

                                    if (nivelAcces.ToString() == "Admin")
                                    {
                                        <a href="@Url.Action("DeleteTestimonial", "Admin", new { testimonialId = caseData.Id })" class="btn-delete">Șterge</a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</body>
</html>


