@using System.Web.Optimization
@model proiect.Models.UserData
@{

    ViewBag.Title = "Index";

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div>

        <div>

            <p>@ViewBag.MyCustomSentence</p>
        </div>
        <p style="margin-top: 500px; opacity: 1.6; text-align: left; font-size: 32px; font-weight: bold; color: black; display: inline-block; padding: 6px; font-family: 'Times New Roman', Times, serif; ">Donează pentru a aduce zâmbetul în viața altora. Fiecare contribuție contează!</p>

    </div>

</body>


</html>