@{
    ViewBag.Title = "PageParteneriateCompanii";
    Layout = "~/Views/Shared/_LayoutParteneriateCompanii.cshtml";
}
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parteneri</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        h1 {
            margin-top: 50px;
            font-size: 36px; /* Mărește dimensiunea fontului */
        }

        .image-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap; /* Permite ca imaginile să treacă la un rând nou */
            margin-top: 20px; /* Ajustează marginea de sus */
        }

            .image-container img {
                max-width: 300px; /* Mărește dimensiunea maximă a imaginilor */
                height: auto;
                margin: 10px; /* Ajustează marginile pentru a separa imaginile */
                border-radius: 10px; /* Adaugă o mică rotație la imaginile partenerilor */
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adaugă o umbra subtile pentru imaginile partenerilor */
            }

        .description {
            margin-top: 50px; /* Ajustează marginea superioară */
            max-width: 600px; /* Limitează lățimea pentru a menține o citire confortabilă */
            margin-left: auto; /* Aliniază la stânga */
            margin-right: auto; /* Aliniază la dreapta */
            text-align: center; /* Aliniază textul în centru */
            font-size: 18px; /* Mărește dimensiunea fontului */
        }
    </style>
</head>
<body>

    <h1>Parteneri</h1>

    <!-- Descrierea partenerilor -->
    <div class="description">
        <p>Aceștia sunt partenerii noștri de încredere, cu care lucrăm îndeaproape pentru a oferi cele mai bune servicii clienților noștri.</p>
    </div>

    <!-- Containerul pentru imaginile partenerilor -->
    <div class="image-container">
        <img src="~/assets/img/Moldcell.png" alt="Moldcell">
        <img src="~/assets/img/Orange.png" alt="Orange">
        <img src="~/assets/img/Unite.png" alt="Unite">
        <img src="~/assets/img/MTC.png" alt="MTC">
    </div>

</body>
</html>