
@{
    ViewBag.Title = "PageContact";
    Layout = "~/Views/Shared/_LayoutContact.cshtml";
}
<div class="hero-wrap" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
              
                <h1 class="mb-10 bread" data-scrollax="properties: { translateY: '40%', opacity: 1.7 }" style="font-family: 'Times New Roman', Times, serif; color: black; font-weight: bold;">Contactează-ne</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row d-flex mb-4 contact-info">
            <div class="col-md-12 mb-2">
                <h2 class="h4" style="font-family: 'Times New Roman', Times, serif; color: red;"><strong>Informații de contact</strong></h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-2">
                <p style="font-family: 'Times New Roman', Times, serif; color: red;"><span>Adresa:</span> Igor Vieru 2/1</p>
            </div>
            <div class="col-md-3">
                <p style="font-family: 'Times New Roman', Times, serif; color: red ;"><span>Telefon:</span> <a href="tel://1234567920" style="color: red;">+373 67374045</a></p>
            </div>
            <div class="col-md-3">
                <p style="font-family: 'Times New Roman', Times, serif; color: red;"><span>Email:</span> <a href="mailto:info@yoursite.com" style="color: red;">info@salveazaoviata.com</a></p>
            </div>
            <div class="col-md-3">
                <p style="font-family: 'Times New Roman', Times, serif; color: red;"><span>Website</span> <a href="#" style="color: red;">salveazaoviata.com</a></p>
            </div>
        </div>
        <div class="row block-9">
            <div class="col-md-5 pr-md-6">
                <h4 class="mb-8" style="font-family: 'Times New Roman', Times, serif; color: black; font-weight: bold;">Ai întrebări?</h4>
                <form action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nume">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Subiectul">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mesajul"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Trimite mesajul" class="btn btn-primary py-3 px-5" style="background-color: yellow; color: black; border-color: yellow;">
                    </div>
                </form>

            </div>

            <div class="col-md-6" id="map"></div>
        </div>
    </div>
</section>




