@{
    ViewBag.Title = "PageTestimoniale";
    Layout = "~/Views/Shared/_LayoutCases.cshtml";
}
@model System.Collections.Generic.List<proiect.Models.Testimonial.TestimonialViewData>
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="facts-help">
        <div class="container">
            <h2 class="heading-title" style="text-align: center; font-family: 'Times New Roman', Times, serif; font-weight: bold;">Testimoniale</h2>
            <div class="row main-block">
                <table style="width:100%">
                    @foreach (var caseData in Model)
                    {
                        <tr>
                            <td style="padding: 10px;">
                                @if (caseData.ImagePath != null)
                                {
                                    <img class="img-rounded" style="width:80%; max-height: 900px" src="@Url.Content(caseData.ImagePath)" alt="..." style="border:1px solid gray;">
                                }
                                else
                                {
                                    <img class="img-rounded" src="https://www.caritate.md/uploads/w318/54315-img-2345.jpeg" alt="" style="border:1px solid gray;">
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>

        </div>
    </div>


</body>
</html>