
@{
    ViewBag.Title = "PageFAQ";
    Layout = "~/Views/Shared/_LayoutPageFAQ.cshtml";
}

<section class="section faq">
    <div class="row">
        <div class="col-lg-20">

            <div class="card basic">
                <div class="card-body">
                    <h5 style="color: black; font-weight: bold;">Întrebări frecvente</h5>

                    <div>
                        <h6 style="color: red;">1. Ce reprezintă Salvează o Viață?</h6>
                        <p>
                            Salvează o Viață - este o platformă de colectare a fondurilor (pe baza de organizare socială), care are ca scop suportul tendințelor și schimbărilor pozitive în societatea din Republica Moldova.

                            Salvează o Viață este o punte de legătură între societatea civilă - oameni care sunt dispuși și capabili să participe la procesele sociale pozitive și persoanele care au nevoie de ajutor.
                        </p>
                    </div>

                    <div class="pt-2">
                        <h6 style="color: red;">2. Din ce surse este finanțată activitatea Salvează o Viață?</h6>
                        <p> Activitățile noastre sunt finanțate din sursele proprii ale Fondului organizației, din cotizațiile de membru, precum și din donații și granturi.</p>
                    </div>

                    <div class="pt-2">
                        <h6 style="color: red;">3. Care sunt obiectivele organizației dumneavoastră?</h6>
                        <p>Obiectivele Salvează o Viață constau în colectarea de fonduri pentru proiecte sociale în diferite sfere ale vieții – începând cu proiecte în agricultură, educație sau artă până la asistența specifică persoanelor aflate în dificultate.</p>
                    </div>

                    <div class="pt-2">
                        <h6 style="color: red;">4. Cum pot să mă înregistrez pe site-ul caritate.md?</h6>
                        <p>Înregistrarea pe site-ul Salvează o Viață poate fi efectuată  completarea unui formular pe site-ul Salvează o Viață.</p>
                    </div>

                    <div class="pt-2">
                        <h6 style="color: red;">5. Care sunt criteriile generale?</h6>
                        <p>
                                - vizitatorii care se înregistrează pe site și își fac pe profil, devin membru și, prin urmare, își dau acordul cu regulile site-ului. Utilizatorii site-ului pot posta propriile lor proiecte - campanii de colectare a fondurilor.<br>
                                - utilizatorii care doresc să plaseze proiectele lor pe Salvează o Viață, acționează pe platformă de beneficiari, iar utilizatorii care fac donații pentru beneficiari, acționează în calitate de donatori.<br>
                                 Responsabilitatea Beneficiarului este de a rambursa donatorilor recompensa promisă de pagina de proiect, pe care fiecare din donatori o preia. Atunci când un utilizator face o donație pentru un proiect, intre acesta și Beneficiar are loc un acord, o înțelegere nescrisă. Prezentul acord și regulile care guvernează activitatea ambelor părți ale acordului sunt furnizate în categoriile "Obligațiile beneficiarului" și "Obligațiile donatorilor."
                        </p>
                    </div>


                </div>
            </div>


        </div>

    </div>
</section>

