@{
    ViewBag.Title = "PageDesprenoi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model proiect.Models.User.UserLogin
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salveazao viata.md</title>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif; /* schimbăm fontul */
            margin: 0;
            padding: 0;
            background-color: #f8c50e; /* galben */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .content {
            text-align: center;
            max-width: 800px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        h1 {
            margin-bottom: 20px;
            text-decoration: underline;
        }

        p {
            line-height: 1.6;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Salvează o Viață</h1>
        <p>
            Salveazaoviata.md e mai mult decât o platformă, e o familie adevărată pentru societate!<br>
            Lansată în septembrie 2016, activitatea zilnică pe care o facem are ca scop de a veni în ajutorul celor aflați în dificultate și suferință. Iar misiunea propusă pe parcursul acestor ani de activitate este să transformăm întunericul oamenilor în lumină, în speranță și în primul rând în VIAȚĂ.
        </p>
        <p>
            Într-o lume în care alegi să fii orice, am ales să trăim și să creăm,<br>
            Trăim  până la lacrimi,<br>
            Și creăm MINUNI.<br>
            Într-o lume în care totul este posibil, am ales să trezim, OMENIREA la BUNATATEA SI COMPASIUNE,<br>
            într-o lume în care există loc și pentru Durere, suferință, disperare,<br>
            Am demostrat că durere străină nu există!<br>
            În Moldova noastră mică,<br>
            Am ales să fim mai buni,<br>
            Am ales caritate prin unitate<br>
            Aici pe meleagul nostru drag,<br>
            am creat un loc special al carității unde fiecare copil, părinte, familie și-a regăsit speranța, încrederea în ziua de mâine.<br>
            Este locul unde nu există nu pot,<br>
            Este locul unde multe suflete au găsit ce nu puteau avea, este locul unde se schimbă destine, locul unde pentru fiecare există o șansă,  locul unde trezim omenirea la generozitate și ne molipsim cu bunătate.<br>
            Nu încercăm să scriem istorie, dar încercăm să îmbunătățim istoria umanității și existenței prin fapte!<br>
            Salveazaoviata.md e mai mult decât o platformă, e o familie adevărată pentru societate!
        </p>
    </div>
</body>
</html>