@{
    ViewBag.Title = "PageFAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model proiect.Models.Question.QuestionData
<section class="section faq">
    <div class="row">
        <div class="col-lg-20">

            <div class="card basic">
                <div class="card-body">
                    <div style="text-align: center;">
                        <h5 style="color: black; font-weight: bold;">Întrebări frecvente</h5>
                    </div>

                    <div>
                        <!-- Adaugi clasa "question" la întrebare -->
                        <h5 style="color: black; ">Despre salveazaoviata.md</h5>
                        <h6 class="question" style="color: red;">1. Ce reprezintă Salvează o Viață?</h6>
                        <div class="answer">
                            <p>
                                Salvează o Viață - este o platformă de colectare a fondurilor (pe baza de organizare socială), care are ca scop suportul tendințelor și schimbărilor pozitive în societatea din Republica Moldova.

                                Salvează o Viață este o punte de legătură între societatea civilă - oameni care sunt dispuși și capabili să participe la procesele sociale pozitive și persoanele care au nevoie de ajutor.
                            </p>
                        </div>
                    </div>


                    <div class="pt-2">
                        <h6 style="color: red;">2. Din ce surse este finanțată activitatea Salvează o Viață?</h6>
                        <p> Activitățile noastre sunt finanțate din sursele proprii ale Fondului organizației, din cotizațiile de membru, precum și din donații și granturi.</p>
                    </div>

                    <div class="pt-2">
                        <h6 style="color: red;">3. Care sunt obiectivele organizației dumneavoastră?</h6>
                        <p>Obiectivele Salvează o Viață constau în colectarea de fonduri pentru Charity.Webe sociale în diferite sfere ale vieții – începând cu Charity.Webe în agricultură, educație sau artă până la asistența specifică persoanelor aflate în dificultate.</p>
                    </div>


                    <div class="pt-4">
                        <h5 style="color: black; ">Crearea cazului</h5>
                        <h6 style="color: red;">4. Cum pot să mă înregistrez pe site-ul caritate.md?</h6>
                        <p>Înregistrarea pe site-ul Salvează o Viață poate fi efectuată completarea unui formular pe site-ul Salvează o Viață.</p>
                    </div>

                    <div class="pt-2">
                        <h6 style="color: red;">5. Care sunt criteriile generale?</h6>
                        <p>
                            - vizitatorii care se înregistrează pe site și își fac pe profil, devin membru și, prin urmare, își dau acordul cu regulile site-ului. Utilizatorii site-ului pot posta propriile lor Charity.Webe - campanii de colectare a fondurilor.<br>
                            - utilizatorii care doresc să plaseze Charity.Webele lor pe Salvează o Viață, acționează pe platformă de beneficiari, iar utilizatorii care fac donații pentru beneficiari, acționează în calitate de donatori.<br>
                            Responsabilitatea Beneficiarului este de a rambursa donatorilor recompensa promisă de pagina de Charity.Web, pe care fiecare din donatori o preia. Atunci când un utilizator face o donație pentru un Charity.Web, intre acesta și Beneficiar are loc un acord, o înțelegere nescrisă. Prezentul acord și regulile care guvernează activitatea ambelor părți ale acordului sunt furnizate în categoriile "Obligațiile beneficiarului" și "Obligațiile donatorilor."
                        </p>
                    </div>

                    <div class="pt-2">
                        <h6 style="color: red;">6.Cum pot să mă înregistrez pe site-ul salveazaoviata? </h6>
                        <p>
                            Înregistrarea pe site-ul salveazaoviata.md poate fi efectuată prin intermediul facebook.com sau prin completarea unui formular pe site-ul salveazaoviata.md.
                        </p>
                    </div>

                    <div class="pt-2">
                        <h6 style="color: red;">7.Care sunt criteriile generale? </h6>
                        <p>
                            -vizitatorii care se înregistrează pe site și își fac pe profil, devin membru și, prin urmare, își dau acordul cu regulile site-ului. Utilizatorii site-ului pot posta propriile lor Charity.Webe - campanii de colectare a fondurilor.<br>
                            -utilizatorii care doresc să plaseze Charity.Webele lor pe salveazaoviata.md, acționează pe platformă de beneficiari, iar utilizatorii care fac donații pentru beneficiari, acționează în calitate de donatori.<br>
                            Responsabilitatea Beneficiarului este de a rambursa donatorilor recompensa promisă de pagina de Charity.Web, pe care fiecare din donatori o preia. Atunci când un utilizator face o donație pentru un Charity.Web, intre acesta și Beneficiar are loc un acord, o înțelegere nescrisă. Prezentul acord și regulile care guvernează activitatea ambelor părți ale acordului sunt furnizate în categoriile "Obligațiile beneficiarului" și "Obligațiile donatorilor."
                        </p>
                    </div>
                    <div class="pt-2">
                        <h6 style="color: red;">8.Ce acte sunt necesare pentru a crea propriul Charity.Web de colectare a fondurilor pe site-ul Caritate.md? </h6>
                        <p>
                            Important! Pentru a beneficia de ajutorul material pentru tratament, sunt necesare urmatoarele documente:<br>
                            1.Actele de identitate a beneficiarului<br>
                            2.Documentele ce confirma veridicitatea cauzei ( diagnostica din R. Moldova)<br>
                            3.Documentul ce confirma costurile tratamentului<br>
                            4Indeplinirea cererilor expediate online de catre echipa salveazaoviata.md.<br>

                        </p>
                    </div>


                    <div class="pt-4">
                        <h5 style="color: black; ">Pentru Donatori</h5>
                        <h6 style="color: red;"> 9.Cum pot să mă asigur că banii donați de mine vor ajunge la destinație?</h6>
                        <p>Toate rapoartele privind cheltuielile efectuate sunt disponibile publicului în secțiunea respectivă a site-ului salveazaoviata.md.</p>
                    </div>

                    <div class="pt-2">
                        <h6 style="color: red;">10.Cine oferă nemijlocit asistența către persoanelor prezentate pe site-ul dvs.? </h6>
                        <p>
                            Beneficiarii primesc ajutor de la profesioniștii angajați de salveazaoviata.md, precum și de la un șir de experți specializați cum ar fi voluntari, lucrători din domeniul medical, avocați, psihologi, etc.
                        </p>
                    </div>

                    <div class="pt-2">
                        <h6 style="color: red;">11.Pot fi sigur de siguranța datelor cu caracter personal pe site-ul dvs.? </h6>
                        <p>
                            Toate datele cu caracter personal ale donatorilor salveazaoviata.md sunt protejate. Puteți fi sigur că nimeni niciodată nu va împărtăși informațiile Dvs. personale.
                        </p>
                    </div>

                    <div class="pt-2">
                        <h6 style="color: red;">12.Cum pot efectua transferul/ dona bani? </h6>
                        <p>
                            Modalitățile de transfer a fondurilor pentru donații pe salveazaoviata.md:<br>
                            MasterCard, Visa, PayPal, Bitcoin, transfer bancar și alte sisteme de plăți convenabile donatorului.
                        </p>
                    </div>

                    <div class="pt-2">
                        <h6 style="color: red;">13.Care sunt comisioanele percepute și cheltuielile bancare? </h6>
                        <p>
                            Taxele și comisioanele aferente operațiunilor cu cardul pe internet sunt după cum urmează:<br>

                            -Comisionul pentru primirea cardurilor emise de bănci străine: 3,5% din valoarea tranzacției;<br>
                            -Comisionul pentru plățile efectuate prin cardul Victoriabank: 1,5% din valoarea tranzacției;<br>
                            -Comisionul pentru plățile efectuate cu orice alte carduri bancare a Republicii Moldova: 2,5% din valoarea tranzacției;<br>
                            -Comisionul pentru plățile efectuate prin PayPal este de 3,4% din valoarea tranzacției + 0.35 euro pentru fiecare tranzacției;<br>
                            -Taxele și comisioanele aferente operațiunilor bancare către beneficiar sunt aproximativ de 0% - 1,5% din suma colectată (schimb valutar, transfer bancar international, extragerea numerarului).<br>

                            Plata pentru taxa de restituire este de 120 lei. Noi rugăm să atrageți atenție la tipurile comisioanelor enumerate mai sus atunci când faceți calcularea sumei care este necesară pentru implementarea cu succes a Charity.Webului.
                        </p>
                    </div>

                    <div class="pt-2">
                        <h6 style="color: red;">14.Este donarea mea în siguranță? </h6>
                        <p>
                            Da, de aceea că noi asigurăm securitatea datelor cu caracter personal, iar salveazaoviata.md utilizează o platformă personalizată pentru donații.
                        </p>
                    </div>

                    <div class="pt-2">
                        <h6 style="color: red;">15.Ce acțiuni întreprinde salveazaoviata.md pentru siguranța comunității lor? </h6>
                        <p>
                            Pentru a oferi o siguranță maximă pentru donațiile realizate, salveazaoviata.md folosește o platformă personalizată și modalități sigure de plată.<br>

                            Pentru a asigura utilizarea eficientă a resurselor financiare în deplină concordanță cu obiectivele fiecărui Charity.Web, salveazaoviata.md va semna un contract pentru fiecare Charity.Web sau inițiativă cu scopul de a strânge fonduri de pe platformă.
                        </p>
                    </div>

                    <div class="pt-2">
                        <h6 style="color: red;">16.Este posibil de a returna fondurile de pe salveazaoviata.md în cazul în care Charity.Webul eșuează după încheierea campaniei de colectare a acestuia? </h6>
                        <p>
                            Nu, pentru că beneficiarul este responsabil de Charity.Web și pentru fondurile colectate pe site-ul Caritate.md. În cazul în care o cantitate suficientă de resurse nu a fost colectată, donatorilor automat li se restituie banii, sau se redicționează banii către alt caz.
                        </p>
                    </div>

                    <div class="pt-2">
                        <h6 style="color: red;">17.Cine este responsabil pentru punerea în aplicare a Charity.Webului, în conformitate cu promisiunile făcute față de beneficiar? </h6>
                        <p>
                            Platforma salveazaoviata.md nu este implicată în dezvoltarea Charity.Webului. Punerea în aplicare a Charity.Webului este responsabilitatea celui care l-a elaborat. Ca donator, decideți singur dacă contribuția dumneavoastră financiară va sprijini în continuare Charity.Webul sau dacă decideți să nu mai faceți donații.
                        </p>
                    </div>


                </div>
            </div>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">


            <style>
                body {
                    font-family: Arial, sans-serif;
                }

                h2 {
                    text-align: center;
                    margin-top: 30px;
                }

                table {
                    margin: 0 auto;
                    width: 60%;
                    border-collapse: collapse;
                    border-spacing: 0;
                }

                th, td {
                    padding: 10px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                }

                tr:nth-child(even) {
                    background-color: #f2f2f2;
                }

                input[type="text"],
                input[type="email"],
                textarea {
                    width: 100%;
                    padding: 8px;
                    box-sizing: border-box;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }

                input[type="submit"] {
                    background-color: red;
                    color: white;
                    border: none;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    cursor: pointer;
                    border-radius: 5px;
                    transition: background-color 0.3s;
                }

                    input[type="submit"]:hover {
                        background-color: #cc0000;
                    }
            </style>
        </div>
    </div>
</section>