
@{
    ViewBag.Title = "PageDonatieLunar";
    Layout = "~/Views/Shared/_LayoutDonatieLunar.cshtml";
}

<!doctype html>
<html lang="ro">
<head>
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:admins" content="" />
    <meta property="fb:app_id" content="812722865498283" />
    <meta property="og:image" content="/assets/site/img/caritate.jpg" />
    <meta name="twitter:image:src" content="/assets/site/img/caritate.jpg">
    <link rel="apple-touch-icon" href="https://www.caritate.md/assets/site/img/apple-touch-icon.png">
    <link rel="shortcut icon" href="https://www.caritate.md/assets/site/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/site.css?id=ab5e5d2c030bdaaee480">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z86TTYZJFJ"></script>
    <script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-Z86TTYZJFJ');
    </script>
</head>
<body class="">
    <div class="wrapper">
        <header class="">
            <div class="overlay"></div>
            <div class="header-top-box">
                <div class="burger-btn">
                    <span class="burger-line"></span>
                </div>
                <div class="logo-box">
                    <a class="logo" href="https://www.caritate.md">
                        <img src="/assets/site/img/logo-small.svg">
                    </a>
                </div>
                <nav class="languages">
                    <button class="pseudo-lang">ro</button>
                    <div class="lang-list">
                        <a href="/ru/ezhemesyachnogo-pozhertvovaniya-cherez-sistemu-elektronnyh-platezhey-paypal.html">ru</a>
                        <a href="/en/monthly-donations-through-the-paypal-electronic-payment-system.html">en</a>
                    </div>
                </nav>
            </div>
            <div class="nav-menu">
                <div class="identification-box">
                    <a href="https://www.caritate.md/login" class="identification-link">
                        Intrare
                    </a>
                </div>
                <button type="button" class="header-search-btn">
                    <svg class="header-search-icon" viewBox="0 0 17 17">
                        <circle cx="7.05" cy="7.05" r="6.55"></circle>
                        <line x1="16.5" y1="16.5" x2="11.68" y2="11.68"></line>
                    </svg>
                </button>
                <form class="header-search" method="GET" action="https://www.caritate.md/donations/search">
                    <button type="button" class="header-search-close-btn">
                        <svg class="header-search-close-icon" viewBox="0 0 14 14">
                            <path d="M0.538461538,0.538461538 L13.2267692,13.2267692"></path>
                            <path d="M0.538461538,13.2265538 L13.2267692,0.538246154"></path>
                        </svg>
                    </button>
                    <input type="text" name="q" id="search" placeholder="Caută...">
                    <button class="header-search-submit-btn" type="submit">
                        <span class="header-search-submit-text">Căutare</span>
                        <svg class="header-search-icon" viewBox="0 0 17 17">
                            <circle cx="7.05" cy="7.05" r="6.55"></circle>
                            <line x1="16.5" y1="16.5" x2="11.68" y2="11.68"></line>
                        </svg>
                    </button>
                </form>
                <div class="header-buttons">
                    <a class="new-btn new-btn-dark" href="https://www.caritate.md/creaza-caz.html">
                        Adaugă cazul
                    </a>
                    <a class="new-btn new-btn-danger" href="https://www.caritate.md/donatie-lunara.html">
                        Donează lunar
                    </a>
                </div>
                <nav class="nav">
                    <a href="https://www.caritate.md/donations">
                        Toate cazurile
                    </a>
                    <a href="https://www.caritate.md/helped">
                        Ajutor acordat
                    </a>
                    <a href="https://www.caritate.md/news">
                        Ştiri
                    </a>
                    <a href="https://www.caritate.md/faq">
                        FAQ
                    </a>
                    <a href="https://www.caritate.md/testimonials">
                        Testimoniale
                    </a>
                    <a class="active" href="https://www.caritate.md/caritate-md-e-mai-mult-decat-o-platforma-e-o-familie-adevarata-pentru-societate.html">
                        Despre noi
                    </a>
                </nav>
                <p class="phone-support">
                    <a href="tel:+373(68)330431">
                        Telefon: +373(68)330431
                    </a>
                </p>
                <a class="social-support" href="https://www.caritate.md/caritate-md-solicita-suportul-donatorilor.html">
                    Caritate.md solicită suport
                </a>
            </div>
        </header>

        <div class="content">


            <div class="contacts-block bg-gray">
                <div class="container">
                    <h2 class="heading-title">Donatie lunara prin Paypal</h2>
                    <div class="donate-team">
                        <div class="donate-team-text">
                            <strong>Optiuni de donatii lunare:</strong>
                            <p>
                                <form method="GET" action="https://www.caritate.md/paypal/plans/0/agreement" class="page-paypal-agreements hidden-lg-up">
                                    <div class="block-select">
                                        <div class="select-block">
                                            <select name="plan">
                                                <option value="0">Selectează suma</option>
                                                <option value="1">2.00 USD / Month</option>
                                                <option value="2">5.00 USD / Month</option>
                                                <option value="3">10.00 USD / Month</option>
                                                <option value="9">15.00 USD / Month</option>
                                                <option value="10">20.00 USD / Month</option>
                                                <option value="4">25.00 USD / Month</option>
                                                <option value="11">30.00 USD / Month</option>
                                                <option value="12">35.00 USD / Month</option>
                                                <option value="13">40.00 USD / Month</option>
                                                <option value="14">45.00 USD / Month</option>
                                                <option value="5">50.00 USD / Month</option>
                                                <option value="6">100.00 USD / Month</option>
                                                <option value="7">500.00 USD / MONTH</option>
                                                <option value="8">1000.00 USD / MONTH</option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="submit" value="Înregistrează donaţia lunară" class="btn btn-lg btn-bg-red btn-color-white btn-upper btn-font-small btn-bold" />
                                </form>

                                <form method="GET" action="https://www.caritate.md/paypal/plans/0/agreement" class="page-paypal-agreements hidden-md-down">
                                    <div class="radio-monthly-donation">
                                        <input type="radio" id="radio-0" name="plan" value="1">
                                        <label for="radio-0">
                                            <span class="number">2</span>USD / Month
                                        </label>
                                        <input type="radio" id="radio-1" name="plan" value="2">
                                        <label for="radio-1">
                                            <span class="number">5</span>USD / Month
                                        </label>
                                        <input type="radio" id="radio-2" name="plan" value="3">
                                        <label for="radio-2">
                                            <span class="number">10</span>USD / Month
                                        </label>
                                        <input type="radio" id="radio-3" name="plan" value="9">
                                        <label for="radio-3">
                                            <span class="number">15</span>USD / Month
                                        </label>
                                        <input type="radio" id="radio-4" name="plan" value="10">
                                        <label for="radio-4">
                                            <span class="number">20</span>USD / Month
                                        </label>
                                        <input type="radio" id="radio-5" name="plan" value="4">
                                        <label for="radio-5">
                                            <span class="number">25</span>USD / Month
                                        </label>
                                        <input type="radio" id="radio-6" name="plan" value="11">
                                        <label for="radio-6">
                                            <span class="number">30</span>USD / Month
                                        </label>
                                        <input type="radio" id="radio-7" name="plan" value="12">
                                        <label for="radio-7">
                                            <span class="number">35</span>USD / Month
                                        </label>
                                        <input type="radio" id="radio-8" name="plan" value="13">
                                        <label for="radio-8">
                                            <span class="number">40</span>USD / Month
                                        </label>
                                        <input type="radio" id="radio-9" name="plan" value="14">
                                        <label for="radio-9">
                                            <span class="number">45</span>USD / Month
                                        </label>
                                        <input type="radio" id="radio-10" name="plan" value="5">
                                        <label for="radio-10">
                                            <span class="number">50</span>USD / Month
                                        </label>
                                        <input type="radio" id="radio-11" name="plan" value="6">
                                        <label for="radio-11">
                                            <span class="number">100</span>USD / Month
                                        </label>
                                        <input type="radio" id="radio-12" name="plan" value="7">
                                        <label for="radio-12">
                                            <span class="number">500</span>USD / MONTH
                                        </label>
                                        <input type="radio" id="radio-13" name="plan" value="8">
                                        <label for="radio-13">
                                            <span class="number">1000</span>USD / MONTH
                                        </label>
                                    </div>
                                    <input type="submit" value="Înregistrează donaţia lunară" class="btn btn-lg btn-bg-red btn-color-white btn-upper btn-font-small btn-bold" />
                                </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row footer-top">
                    <div class="col-xl-4 col-lg-6 hidden-md-down">
                        <h2>Categorii</h2>
                        <ul class="footer-list">
                            <li>
                                <a href="https://www.caritate.md/help/social">Social</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-24 hidden-sm-down">
                        <h2>Cum puteți să ajutați</h2>
                        <ul class="footer-list">
                            <li>
                                <a href="https://www.caritate.md/contacte.html">Contacte</a>
                            </li>
                            <li>
                                <a href="https://www.caritate.md/termeni-si-conditii.html">Termeni și condiții</a>
                            </li>
                            <li>
                                <a href="https://www.caritate.md/termeni-conditii-site.html">Termeni și condiții de utilizare a site-ului</a>
                            </li>
                            <li>
                                <a href="https://www.caritate.md/donatie-lunara.html">Donatie lunara</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-24 help-dropdown hidden-md-up">
                        <h2>Cum puteți să ajutați</h2>
                        <ul class="footer-list help-list">
                            <li>
                                <a href="https://www.caritate.md/contacte.html">Contacte</a>
                            </li>
                            <li>
                                <a href="https://www.caritate.md/termeni-si-conditii.html">Termeni și condiții</a>
                            </li>
                            <li>
                                <a href="https://www.caritate.md/termeni-conditii-site.html">Termeni și condiții de utilizare a site-ului</a>
                            </li>
                            <li>
                                <a href="https://www.caritate.md/donatie-lunara.html">Donatie lunara</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-24 hidden-sm-down">
                        <h2>Informații</h2>
                        <ul class="footer-list">
                            <li>
                                <a href="https://www.caritate.md/donatori.html">Pentru donatori</a>
                            </li>
                            <li>
                                <a href="https://www.caritate.md/beneficiari.html">Pentru beneficiari</a>
                            </li>
                            <li>
                                <a href="https://www.caritate.md/parteneri-sustinatori.html">Pentru parteneri și susținători</a>
                            </li>
                            <li>
                                <a href="https://www.caritate.md/parteneri.html">Parteneri</a>
                            </li>
                            <li>
                                <a href="https://www.caritate.md/caritate-md-e-mai-mult-decat-o-platforma-e-o-familie-adevarata-pentru-societate.html">Caritate.md e mai mult decât o platformă, e o familie adevărată pentru societate!</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-24 information-dropdown hidden-md-up">
                        <h2>Informații</h2>
                        <ul class="footer-list information-list">
                            <li>
                                <a href="https://www.caritate.md/donatori.html">Pentru donatori</a>
                            </li>
                            <li>
                                <a href="https://www.caritate.md/beneficiari.html">Pentru beneficiari</a>
                            </li>
                            <li>
                                <a href="https://www.caritate.md/parteneri-sustinatori.html">Pentru parteneri și susținători</a>
                            </li>
                            <li>
                                <a href="https://www.caritate.md/parteneri.html">Parteneri</a>
                            </li>
                            <li>
                                <a href="https://www.caritate.md/caritate-md-e-mai-mult-decat-o-platforma-e-o-familie-adevarata-pentru-societate.html">Caritate.md e mai mult decât o platformă, e o familie adevărată pentru societate!</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-4 col-lg-6 hidden-md-down">
                        <h2>Caritate.md</h2>
                        <ul class="footer-list">
                            <li>
                                <a href="https://www.caritate.md/creaza-caz.html">
                                    Adaugă cazul tău
                                </a>
                            </li>
                            <li>
                                <a href="https://www.caritate.md/donations">
                                    Toate cazurile
                                </a>
                            </li>
                            <li>
                                <a href="https://www.caritate.md/news">
                                    Ştiri
                                </a>
                            </li>
                            <li>
                                <a href="https://www.caritate.md/helped">
                                    Ajutor acordat
                                </a>
                            </li>
                            <li>
                                <a href="https://www.caritate.md/faq">
                                    FAQ
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-8 col-xs-24 hidden-md-down">
                        <div id="fb-root">
                            <div class="fb-page" data-href="https://www.facebook.com/caritatemd/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-widht="382px"></div>
                        </div>
                        <div id="fb-root"></div>
                        <script>
(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>
                    </div>
                </div><!-- footer-top -->
                <div class="row footer-about hidden-sm-down">
                    <div class="col-xl-24">
                        <div class="descr">
                            <p><strong>Caritate.md</strong> este un ONG de finanțare colectivă prin intermediul căruia fiecare poate contribui la realizarea unui proiect de suflet prin susținerea a unuia sau mai multe inițiative comunitare. Caritate.md găzduiește anunțuri pentru cazurile umanitare din Republica Moldova. Sperăm că voi, cei care vizitați acest site să le oferiți ajutorul Dumneavoastră, oricât de mic ar fi el. Site-ul a fost creat din dorința de a ajuta persoanele care încă mai au o șansă de salvare, dar din diferite motive nu au posibilitate. Membrii echipei Caritate.md verifică în amănunt ca fiecare informație care va fi afișată să nu fie falsă. Administratorii site-ului nu pot fi făcuți responsabili de răspândirea de informații false sau alte abuzuri care pot intra sub incidența legii. Dacă Dumneavoastră descoperiți nereguli în anunțuri va rugăm să ne contactați.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-24 footer-copiright">
                        <img src="/assets/site/img/card-footer.png" />
                        <span class="copyright">&copy; 2014-2024 Caritate.md</span>
                        <div class="information hidden-sm-down">
                            <a href="tel:+373(68)330431"><span>tel</span> +373(68)330431</a>
                            <a href="mailto:info@caritate.md"><span>email</span> info@caritate.md</a>
                        </div>
                        <div class="social-block">
                            <a href="https://www.facebook.com/caritateMD/" class="in-facebook" target="_blank">
                                <svg class="facebook-svg" width="8px" height="14px" viewBox="0 0 8 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path d="M2.651,14 L2.651,7.109 L0.5,7.109 L0.5,5.134 L2.652,5.133 L2.648,2.946 C2.648,1.889 2.815,1.215 3.191,0.76 C3.613,0.249 4.351,0 5.448,0 L7.5,0 L7.5,1.975 L6.218,1.975 C5.679,1.975 5.356,2.078 5.17,2.309 C4.994,2.528 4.98,2.812 4.98,3.16 L4.975,5.134 L7.256,5.134 L7.033,7.109 L4.977,7.109 L4.975,14 L2.651,14 Z"></path>
                                </svg>
                                Facebook
                            </a>
                            <a href="https://www.youtube.com/channel/UCmnHqIwBX3Z8QybuDzbvq4A" target="_blank">
                                <svg class="youtube-svg" width="13px" height="10px" viewBox="0 0 13 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g stroke="none" stroke-width="1" fill-rule="evenodd">
                                        <g transform="translate(-183.000000, -1188.000000)">
                                            <g transform="translate(183.000000, 1183.000000)">
                                                <path d="M12.69,8.03471223 C12.62,7.18271223 12.112,6.10871223 11.069,6.06971223 C8.151,5.87371223 4.698,5.81971223 1.729,6.06971223 C0.808,6.17071223 0.179,7.29171223 0.108,8.14771223 C-0.036,9.93671223 -0.036,10.9527122 0.108,12.7457122 C0.179,13.5967122 0.792,14.7217122 1.729,14.8427122 C4.733,15.0387122 8.171,15.0657122 11.069,14.8427122 C11.976,14.6827122 12.62,13.5967122 12.69,12.7457122 C12.835,10.9527122 12.835,9.82371223 12.69,8.03471223 Z M4.8,12.7137122 L4.8,8.12771223 L8.8,10.4207122 L4.8,12.7137122 Z"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                YouTube
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!-- footer -->
    </div>

    <script type="text/javascript" src="//vk.com/js/api/share.js?90" charset="windows-1251" async></script>
    <script src="/assets/site.js?id=c5a21f4fc7da15ad79f8"></script>
</body>
</html>

